table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(even):hover {
  background-color: #4682b4;
}
h1 {
  text-decoration: underline;
  text-align: center;
}
.hover {
  background-color: #4682b4;
}
